@implements IAsyncDisposable
@inject IJSRuntime JS

<div
    @ref="hostElement"
    @onclick="OnClick"
    @onmouseenter="OnMouseEnter"
    @onmouseleave="OnMouseLeave"
    style="width:@Width; height:@Height; position:relative; overflow:hidden;">
</div>

<CascadingValue Value="sceneContext">
    <CascadingValue Value="rootNodeContainer">
        @ChildContent
    </CascadingValue>
</CascadingValue>
