@implements IAsyncDisposable
@inject IJSRuntime JS

<div @ref="hostElement" style="width:@Width; height:@Height; position:relative; border-radius:12px; overflow:hidden;"></div>

<CascadingValue Value="sceneContext">
    <CascadingValue Value="rootNodeContainer">
        @ChildContent
    </CascadingValue>
</CascadingValue>
